textarea {
  resize: none;
}

.differences span {
  padding: 2px;
}

::ng-deep .highlighted-text .added {
  background-color: #d4edda; /* Light green */
  color: #155724;
}

::ng-deep .highlighted-text .removed {
  background-color: #f8d7da; /* Light red */
  color: #721c24;
  text-decoration: line-through;
}

.highlighted-text {
  border: 1px solid #000;
  padding: 10px;
}